<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Daniel's web</title>
    </head>
    <div>
        <h1><a href="/"> Daniel's Blog </a> </h1>
        <p> published 02.11.2019</p>
    </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    <body>
    </body>
</html>